---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-base-100 w-full">
			<div class="bg-base-200">
				<div class="hero min-h-screen">
					<div class="hero-content text-center">
						<div class="max-w-md">
							<h1 class="text-5xl font-bold">Hello world!</h1>
							<p class="py-6">Welcome to Astro</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
